body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  padding: 1em;
  background-color: hsl(241, 60%, 50%);
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.navbar a {
  color: white;
  text-decoration: none;
}
li {
  list-style-type: none;
  padding-right: 2em;
  font-size: 2em;
  font-family: Helvetica;
}
.stockInfo {
  font-size: 10px;
  text-align: left;
}
.about {
  padding: 2em;
}
.aboutInfo {
  text-align: left;
  padding-top: 1em;
}
button {
  padding: 0em 2em;
  background-color: rgb(81, 81, 200);
  color: white;
  border: none;
  border-radius: 1em;
  transition-duration: .3s;
}
button:hover {
  background-color: blueviolet;
  box-shadow: 0 8px 8px 0 #00000074;
}